@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;

  /* -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; */
}

.box-time {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  width: 70%;
  margin: auto;
}
.box-time .waitTime {
  text-align: center;
}
.box-time .waitTime i {
  font-size: 20px;
}
.box-time i {
  width: 100%;
  text-align: center;
  font-size: 45px;
}
.titletime {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
}
.box-time .wait-time {
  width: 100%;
}

.box-time .time {
  float: left;
  width: 33%;
}
.time input[type="radio"] {
  display: none;
}
.time input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
.time input[type="radio"]:disabled ~ label {
  color: rgba(188, 194, 191, 1);
  border-color: rgba(188, 194, 191, 1);
  box-shadow: none;
  cursor: not-allowed;
}
.time label {
  margin: 5px;
  padding: 10px;
  /* height: 100%; */
  display: block;
  background: white;
  border: 2px solid rgba(32, 223, 128, 1);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgb(161 170 166 / 14%);
  position: relative;
}
.time input[type="radio"]:checked + label {
  background: rgb(24 213 119);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 255, 128, 0.75);
}

.time p {
  font-weight: 500;
}
@media only screen and (max-width: 1200px) {
  .box-time {
    width: 100%;
  }

  .box-time .time {
    float: left;
    width: 50%;
  }
}
